.payment-content {
    width: 100%;

    h4 {
        color: #082F5C;
        margin: 0 0 20px;
        font-weight: 700;
    }

    .ket {
        font-weight: 400;
    }

    hr {
        height: 1px;
        background-color:  #082F5C;
    }
    
    .background-image {
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 -7.75% 40px;
        padding: 40px 7.75%;

        .payment-info {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row wrap;

            .account-transfer {
                width: 50%;

                h5 {
                    font-weight: 700;
                    color: #082F5C;;
                }

                p {
                    @media (max-width: 448px) {
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .btn-container {
        text-align: center;
        margin-bottom: 80px;

        button {
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            font-size: 1.25rem;
            margin: 0 10px;
            color: white;
        }

        .konfirmasi-btn {
            background-color: #082F5C;
        }

        .batal-btn {
            background-color: #E05D4C;
        }
    }
}