.paket-page {
    position: relative;

    .avail {
        width: 100%;
    }

    .navbar {
        height: 80px;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #082F5C;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 1.5%;
        z-index: 5;

        .navbar-brand {
            padding: 0  10px;
        }

        .navbar-brand:hover {
            cursor: pointer;
        }

        h3 {
            color: white;
            font-weight: 700;
        }

        .tab{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 20px;

            h6 {
                font-weight: 400;
                color: white;
            }
        }

        .tab:hover {
            cursor: pointer;
            background-color: #041d39;
        }

        .tab.active {
            h6 {
                font-size: 1.25rem;
                color: #082F5C;
            }

            background-color: white;
        }

        .tab.active:hover {
            h6 {
                font-size: 1.25rem;
                color: #082F5C;
            }

            background-color: white;
        }

        .exit-btn {
            margin-left: auto;
            padding: 5px 10px;
            color: white;
            background-color: #E05D4C;
            margin-right: 1.5%;
            border-radius: 4px;
        }

        .exit-btn:hover {
            cursor: pointer;
            background-color:  #b34637;
        }
    }

    .course-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5% 0;

        .video-container {
            position: relative;
            width: 40%;
            height: 300px;
            background-color: gray;
            margin: 0 2.5%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .video-container::after {
            content: '  \25BA';
            display: inline-block;
            padding-left: 18px;
            // align-items: center;
            // justify-content:center;
            // margin-left: -10px;
            position: absolute;
            top: 37.5%;
            left: 42.5%;
            height: 80px;
            width: 80px;
            font-size: 55px;
            color: white;
            border-radius: 100%;
            background-color: #082F5C;
        }

        .card-container {
            position: relative;
            width: 40%;
            height: 300px;
            box-shadow: 2px 2px 4px 2px rgba(0,0,0, 0.2);
            margin: 0 2.5%;
            padding: 1.5%;
            border-radius: 4px;

            h4 {
                color: #082F5C;
                font-weight: 700;
            }

            p {
                color: #082F5C;
            }

            div {
                position: relative;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                p {
                    width: 50%;
                    display: block;
                    margin-bottom: 5px;
                }
            }

             .btn-container {
                position: absolute;
                bottom: 0;
                right: 0;
                text-align: right;

                button {
                    width: 150px;
                    height: 60px;
                    margin: 3%;
                    margin-left: auto;
                    border: none;
                    color: white;
                    background-color: #29DB0C;
                    font-size: 1.25rem;
                }

                button:hover {
                    background-color: green;
                }

                .enrolled {
                    background-color: #082F5C;
                }

                .enrolled:hover {
                    background-color: #032448;
                }
             }
        }
    }

    .mine {
        width: 100%;

        .title-nav {
            padding-top: 3%;
            padding-left: 3%;
            display: flex;
            align-items: flex-start;
            position: absolute;
            top: 0;
            left: 0;

            h1 {
                line-height: .7;
            }
        }

        .side-menu {
            padding: 1.5% 2.5%;
            position: fixed;
            left: -100%;
            top:  80px;
            height: calc(100vh - 80px);
            width: 350px;
            background-color: #082F5C;
            z-index: 10;
            opacity: 0;
        }

        .side-menu.active {
            left: 0;
            opacity: 1;
            z-index: 10;

            .top-side {
                display: flex;
                align-items: center;

                h3 {
                    color: white;
                    margin-right: 50px;
                    font-weight: 700;
                }

            }

            .content-side {
                padding: 10% 0;

                li {
                    list-style-type: none;
                    text-transform: uppercase;
                    color: white;
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin: 15px 0;
                }

                li:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }

            .bottom-side {
                position: absolute;
                bottom: 0;
                padding: 5% 0;
                font-size: 1.25rem;
                color: white;
            }

            .bottom-side:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

            .hamburger {
                margin-left: auto;
                margin-right:  0;
                span {
                    background-color: white!important;
                }
            }
        }
    }
}

.hamburger {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    display: inline-block;

    span {
        display: block;
        width: 32px;
        height: 4px;
        margin-bottom: 4px;
        background-color: #082F5C;
        border-radius: 2px;
    }

    span:last-child {
        margin-bottom: 0!important;
    }
}

.hamburger:hover {
    cursor: pointer;
}

